<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.mapper.ModuleMapper">

    <sql id="Column_List">
        `name`, p_id, icon, sort
    </sql>

    <!-- 插入模块-->
    <insert id="insert" parameterType="com.iot.domain.Module">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
        INSERT INTO iot_module
        (
        <include refid="Column_List"/>,
        is_deleted,
        add_user,
        add_time
        )
        VALUES
        (
        #{name},
        #{pId},
        #{icon},
        #{sort},
        0,
        #{addUser},
        now()
        )
    </insert>

    <!-- 修改-->
    <update id="update" parameterType="com.iot.domain.Module">
        UPDATE iot_module
        SET
            <if test="name != null and name != ''">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pId != null">
                p_id = #{pId},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="sort!=null">
                sort = #{sort},
            </if>
            update_user = #{updateUser,jdbcType=VARCHAR},
            update_time = now()
        WHERE
            id = #{id}
    </update>


    <select id="queryList" resultType="com.iot.domain.Module">
        SELECT id,  <include refid="Column_List"/>
        FROM iot_module
        <where>
            AND is_deleted = 0
            <if test="name != null and name != ''">
                AND `name` = #{name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <!-- 删除-->
    <delete id="delete">
        UPDATE iot_module
        SET
            is_deleted = 1,
            update_user = #{updateUser},
            update_time = now()
        WHERE id = #{id}
    </delete>

</mapper>