<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.mapper.UserMapper">

    <sql id="Column_List">
        username, password, nickname, system, mobile,avatar_ossKey, status
    </sql>

    <!-- 查询用户-->
    <select id="loadUserByUsername" resultType="com.iot.domain.User">
        SELECT id, <include refid="Column_List"/>
        FROM iot_user
        WHERE username=#{username} and is_deleted = 0
    </select>

    <!-- 插入用户-->
    <insert id="insert" parameterType="com.iot.domain.User">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
        INSERT INTO iot_user
        (
        <include refid="Column_List"/>,
        is_deleted,
        add_user,
        add_time
        )
        VALUES
        (
        #{username},
        #{password},
        #{nickname},
        0,
        #{mobile},
        #{avatarOssKey},
        #{status},
        0,
        #{addUser},
        now()
        )
    </insert>

    <!-- 修改用户-->
    <update id="update" parameterType="com.iot.domain.User">
        UPDATE iot_user
        SET
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="avatarOssKey != null and avatarOssKey != ''">
                avatar_ossKey = #{avatarOssKey,jdbcType=VARCHAR},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            update_user = #{updateUser,jdbcType=VARCHAR},
            update_time = now()
        WHERE
            username = #{username,jdbcType=VARCHAR}
    </update>


    <select id="queryList" parameterType="com.iot.domain.User" resultType="com.iot.domain.User">
        SELECT id,  <include refid="Column_List"/>
        FROM iot_user
        <where>
            <if test="username != null and username!= ''">
                AND username = #{username}
            </if>
            <if test="nickname != null and nickname!= ''">
                AND nickname = #{nickname}
            </if>
            <if test="isDeleted != null">
                AND is_deleted = #{isDeleted}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>


    <!-- 删除用户-->
    <delete id="deleteByUsername">
        UPDATE ZH_ACCOUNT
        SET
            is_deleted = 1,
            update_user = #{updateUser},
            update_time = now()
        WHERE username = #{username}
    </delete>

    <!--&lt;!&ndash; 添加用户角色关联&ndash;&gt;-->
    <!--<insert id="insertUserRole" parameterType="com.zhhl.auth.domain.User">-->
        <!--<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">-->
            <!--SELECT @@IDENTITY-->
        <!--</selectKey>-->
        <!--INSERT INTO ZH_USER_ROLE-->
        <!--(-->
        <!--user_id,-->
        <!--username,-->
        <!--role_id,-->
        <!--role_code,-->
        <!--add_user,-->
        <!--add_time-->
        <!--)-->
        <!--VALUES-->
        <!--<foreach collection="roles" item="item" index="index" separator="," >-->
            <!--(-->
            <!--#{id,jdbcType=INTEGER},-->
            <!--#{username,jdbcType=VARCHAR},-->
            <!--#{item.id,jdbcType=INTEGER},-->
            <!--#{item.roleCode,jdbcType=VARCHAR},-->
            <!--#{addUser,jdbcType=VARCHAR},-->
            <!--now()-->
            <!--)-->
        <!--</foreach>-->
    <!--</insert>-->

    <!-- 删除用户角色关联角色-->
    <!--<delete id="deleteUserRoleByUsername" parameterType="java.lang.String">-->
        <!--DELETE FROM ZH_USER_ROLE-->
        <!--WHERE username = #{username,jdbcType=VARCHAR}-->
    <!--</delete>-->
</mapper>